<div class="main-container">
  <!-- <img src="/logo1.png" alt="logo image" class="logo-image"> -->
  <h1>
    <span class="i-char">I</span><span>K</span><span class="i-char">A</span
    ><span>T</span>
  </h1>
  <app-search *ngIf="isHomepage"></app-search>
  <div class="navigation-list">
    <a href="home" class="navigation-page"><b>Home</b></a>
    <a href="cart" class="navigation-page"><b>Cart</b></a>
    <a href="signup" class="navigation-page"><b>Signup</b></a>
    <button class="logout-btn">
      <a href="#" class="navigation-page-btn">Logout</a>
    </button>
  </div>
</div>
